@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FormsWithHttpPost.Models
@model List<ReviewModel>

<h2>Past Reviews</h2>

<img src="~/Content/forDummies.png" class="forDummies" alt="Alternate Text" />

<table class="reviews-list">
    @foreach (ReviewModel review in Model)
    {
        <tr>
            <td>
                <div class="title-rating">
                    <h3 class="post-subject">@review.Title</h3>
                    @for (int i = 0; i < review.Rating; i++)
                    {
                        <span class="rating-star"><img src="~/Content/star.png" /></span>
                    }
                </div>
                <p class="post-posted-info">by @review.Username on @review.ReviewDate.ToShortDateString().</p>
                <p class="post-message">@review.Message</p>
            </td>
        </tr>
    }
</table>

